%title{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}
/*
@extend %example{}
*/
$main-black:#121212;
$main-white:#ffffff;
$mush: 'Mulish', sans-serif;
$manrope:'Manrope', sans-serif;
$gray:#F5F5F5;
// font-family: 'Manrope', sans-serif;
// font-family: 'Mulish', sans-serif;
